{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <h2 class="logo">Online Car Sale</h2>
        <ul class="menu">
            <li {% if section == "dashboard" %}class="selected"{% endif %}>
                <a href="{% url "dashboard" %}">Home</a>
            </li>
            {% if request.user.is_authenticated %}
              <li {% if section == "search" %}class="selected"{% endif %}>
                <a href="#">Search</a>
              </li>
              {% if request.user.profile.user_type == "seller" %}
                <li {% if section == "add" %}class="selected"{% endif %}>
                    <a href="{% url "add_car" %}">Add Car</a>
                </li>
              {% endif %}
              <li {% if section == "edit" %}class="selected"{% endif %}>
                <a href="{% url "edit" %}">Edit profile</a>
              </li>
              <li {% if section == "search" %}class="selected"{% endif %}>
                <a href="{% url "logout" %}">Logout</a>
              </li>
          {% else %}
            <li {% if section == "cars" %}class="selected"{% endif %}>
              <a href="#">Cars</a>
            </li>
            <li {% if section == "search" %}class="selected"{% endif %}>
              <a href="#">Search</a>
            </li>
            <li {% if section == "search" %}class="selected"{% endif %}>
              <a href="{% url "login" %}">Log-in</a>
            </li>
          {% endif %}
        </ul>
        <span class="user">
            {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name|default:request.user.username }},
            <a href="{% url "logout" %}">Logout</a>
            <a href="{% url "edit" %}">Edit profile</a>
            {% else %}
            <a href="{% url "login" %}">Log-in</a>
            {% endif %}
        </span>
    </div>
    <div id="content">{% block content %} {% endblock %}</div>
  </body>
</html>
