{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <h2 class="logo">Online Car Sale</h2>
        <ul class="menu">
            <li {% if section == "dashboard" %}class="selected"{% endif %}>
                <a href="{% url "dashboard" %}">Home</a>
            </li>
            {% if request.user.is_authenticated %}
              <li {% if section == "search" %}class="selected"{% endif %}>
                <a href="{% url "car_search" %}">Search Cars</a>
              </li>
              {% if request.user.profile.user_type == "seller" %}
                <li {% if section == "add" %}class="selected"{% endif %}>
                    <a href="{% url "add_car" %}">Add Car</a>
                </li>
              {% endif %}
              <li>
                <a href="">More</a>
              </li>
              <li>
                <a href="">Contact Us</a>
              </li>
          {% else %}
            <li {% if section == "search" %}class="selected"{% endif %}>
              <a href="#">Search Cars</a>
            </li>
            <li>
              <a href="">More</a>
            </li>
            <li>
              <a href="">Contact Us</a>
            </li>
            <li>
              <a href="">Policy</a>
            </li>
          {% endif %}
        </ul>
        <div class="user">
          {% if request.user.is_authenticated %}
            <a href="{% url "edit" %}">Edit profile</a>
            <a class="logout" href="{% url "logout" %}">Logout</a>
            {% else %}
            <a href="{% url "login" %}">Login</a>
            <a href="{% url "register" %}">Register</a>
            {% endif %}
        </div>
    </div>
    <div id="content">{% block content %} {% endblock %}</div>
  </body>
</html>
